.flex-container
{
    display: flex;
    flex-direction: column;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: auto;
	height: 75px;
}

#whiteboard
{
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(245, 245, 220);
    height: 75vh;
    width: 75vw;
    position: relative;
}