<!DOCTYPE html>
<html>
<head>
    <title>Collaborative Whiteboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}">
</head>
<body>
    <div id="left" style="float:left; margin-right: 5px;">
        <canvas id="whiteboard"></canvas>
    </div>
    <!-- <div class="flex-container">
        <canvas id="whiteboard"></canvas>
    </div> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        const canvas = document.getElementById('whiteboard');
        var rect = canvas.parentNode.getBoundingClientRect();
        canvas.width = rect.width;
        canvas.height = rect.height;
        const ctx = canvas.getContext('2d');
        ctx.strokeStyle = 'rgb(0,0,0)';
        let drawing = false;

        const standardLineWidth = 2;
        const standardLineCap = 'round';
        const ENABLE_DRAW_LINES_LOCALLY = false;

        const socket = io.connect('http://' + document.domain + ':' + location.port);
        let clientId;
        socket.on('connect', () => {
            clientId = socket.id; // an alphanumeric id...
            socket.emit("client_connected", {
                id: clientId,
            });
        });

        var userContext = {}
        

        canvas.addEventListener('mousedown', startDrawing);
        canvas.addEventListener('mouseup', stopDrawing);
        canvas.addEventListener('mousemove', draw);
        window.addEventListener('keydown', clearCanvas);


        function getMousePosition(e) {
            var mouseX = e.offsetX * canvas.width / canvas.clientWidth | 0;
            var mouseY = e.offsetY * canvas.height / canvas.clientHeight | 0;
            return {x: mouseX, y: mouseY};
        }


        function startDrawing(e) {
            var mouseX = getMousePosition(e).x;
            var mouseY = getMousePosition(e).y;

            ctx.moveTo(mouseX, mouseY);
            userContext[clientId] = [mouseX, mouseY];
            drawing = true;
            socket.emit("start_drawing", {
                x: mouseX,
                y: mouseY,
                id: clientId,
                color:ctx.strokeStyle
            });
            draw(e);
        }

        function stopDrawing() {
            drawing = false;
            ctx.beginPath();
            socket.emit("stop_drawing", {
                id: clientId
            });
        }

        function clearCanvas(e) {
            if(e.keyCode === 82)
            {
                clearAll();
                // Notify other sockets to clear the drawing
                socket.emit('clear');
            }
        }

        function clearAll(){
            ctx.clearRect(0, 0, canvas.width, canvas.height);
        }

        function drawLine(x, y){
            ctx.lineTo(x, y);
            ctx.stroke();
            ctx.beginPath();
            ctx.moveTo(x, y);
        }

        function setStandardLineStyle(){
            ctx.lineWidth = standardLineWidth;
            ctx.lineCap = standardLineCap;
        }

        function drawLinesLocally(x, y){
            setStandardLineStyle();
            
            ctx.moveTo(userContext[clientId][0], userContext[clientId][1]);
            drawLine(x, y);
            // set the user context for this client
            userContext[clientId] = [x, y];
        }


        function draw(e) {
            if (!drawing) return;

            var mouseX = getMousePosition(e).x;
            var mouseY = getMousePosition(e).y;

            if(ENABLE_DRAW_LINES_LOCALLY){
                drawLinesLocally(mouseX, mouseY);
            }

            // Emit drawing data through WebSocket
            socket.emit('draw', {
                x: mouseX,
                y: mouseY,
                id: clientId,
                color:ctx.strokeStyle
            });
        }

        // Listen for drawing data from the server
        socket.on('drawing', (data) => {
            if(!ENABLE_DRAW_LINES_LOCALLY || data.id != clientID){
                setStandardLineStyle();
                ctx.strokeStyle = data.color;
                
                // check if the userContext exists yet. If so, move the canvas cursor to the last saved position for this user.
                if(!userContext[data.id]){
                    ctx.beginPath();
                } else{
                    ctx.moveTo(userContext[data.id][0], userContext[data.id][1]);
                }

                drawLine(data.x, data.y);
                //save user context to the last position for this user.
                userContext[data.id] = [data.x, data.y];
            }
        });


        
        socket.on('stop_drawing', (data) => {
            ctx.beginPath();
        });

        socket.on('cleared', (data) => {
            console.log('test')
            clearAll()
        });

        //Retrieve existing drawings from the server
        fetch('/get_drawings')
            .then(response => response.json())
            .then(data => {
                for(id in data.drawings){
                    if(data.drawings[id][0]){
                        ctx.moveTo(data.drawings[id][0].x, data.drawings[id][0].y);
                    }
                    for(line in data.drawings[id]){
                        var lineX = data.drawings[id][line].x;
                        var lineY = data.drawings[id][line].y;
                        if (line !=  0){
                            if(data.drawings[id][0] === "start"){
                                ctx.moveTo(lineX , lineY);
                            } else{
                                setStandardLineStyle();
                                ctx.strokeStyle = data.drawings[id][line].color;
                                
                                drawLine(lineX, lineY);
                            }
                            
                        }
                    }
                }
            });
    </script>

    <h1>Choose a color:</h1>
    <div class="flex-container">
        <script>
            function getColor() {
                var color = document.getElementById("mycolor").value;
                ctx.strokeStyle = color;
            }
         </script>

        <input type="color" value="#000000" id="mycolor" oninput="getColor()">
    </div>

</body>
</html>
