<!DOCTYPE html>
<html>
<head>
    <title>Collaborative Whiteboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}">
</head>
<body>
    <div class="flex-container">
        <canvas id="whiteboard"></canvas>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        const canvas = document.getElementById('whiteboard');
        var rect = canvas.parentNode.getBoundingClientRect();
        canvas.width = rect.width;
        canvas.height = rect.height;
        const ctx = canvas.getContext('2d');
        let drawing = false;

        const socket = io.connect('http://' + document.domain + ':' + location.port);
        let clientId;
        socket.on('connect', () => {
            clientId = socket.id; // an alphanumeric id...
            socket.emit("client_connected", {
                id: clientId,
            });
        });

        canvas.addEventListener('mousedown', startDrawing);
        canvas.addEventListener('mouseup', stopDrawing);
        canvas.addEventListener('mousemove', draw);
        window.addEventListener('keydown', clearCanvas);


        function getMousePosition(e) {
            var mouseX = e.offsetX * canvas.width / canvas.clientWidth | 0;
            var mouseY = e.offsetY * canvas.height / canvas.clientHeight | 0;
            return {x: mouseX, y: mouseY};
        }


        function startDrawing(e) {
            var mouseX = getMousePosition(e).x;
            var mouseY = getMousePosition(e).y;


            ctx.moveTo(mouseX, mouseY);
            drawing = true;
            socket.emit("start_drawing", {
                x: mouseX,
                y: mouseY,
                id: clientId
            });
            draw(e);
        }

        function stopDrawing() {
            drawing = false;
            ctx.beginPath();
            socket.emit("stop_drawing", {
                id: clientId
            });
        }

        function clearCanvas(e) {
            if(e.keyCode === 82)
            {
                clearAll();
                // Notify other sockets to clear the drawing
                socket.emit('clear');
            }
        }

        function clearAll(){
            ctx.clearRect(0, 0, canvas.width, canvas.height);
        }

        function draw(e) {
            if (!drawing) return;

            var mouseX = getMousePosition(e).x;
            var mouseY = getMousePosition(e).y;

            ctx.lineWidth = 2;
            ctx.lineCap = 'round';
            ctx.strokeStyle = 'black';

            ctx.lineTo(mouseX, mouseY);
            ctx.stroke();
            ctx.beginPath();
            ctx.moveTo(mouseX, mouseY);

            // Emit drawing data through WebSocket
            socket.emit('draw', {
                x: mouseX,
                y: mouseY,
                id: clientId
            });
        }

        // Listen for drawing data from the server
        socket.on('drawing', (data) => {
            if (drawing) return;
            ctx.lineWidth = 2;
            ctx.lineCap = 'round';
            ctx.strokeStyle = 'black';

            ctx.lineTo(data.x, data.y);
            ctx.stroke();
            ctx.beginPath();
            ctx.moveTo(data.x, data.y);
        });

        socket.on('stop_drawing', (data) => {
            ctx.beginPath();
        });

        socket.on('cleared', (data) => {
            console.log('test')
            clearAll()
        });

        //Retrieve existing drawings from the server
        fetch('/get_drawings')
            .then(response => response.json())
            .then(data => {
                for(id in data.drawings){
                    if(data.drawings[id][0]){
                        ctx.moveTo(data.drawings[id][0].x, data.drawings[id][0].y);
                    }
                    for(line in data.drawings[id]){
                        if (line !=  0){
                            if(data.drawings[id][0] === "start"){
                                ctx.moveTo(data.drawings[id][line].x, data.drawings[id][line].y);
                            } else{
                                ctx.lineWidth = 2;
                                ctx.lineCap = 'round';
                                ctx.strokeStyle = 'black';

                                ctx.lineTo(data.drawings[id][line].x, data.drawings[id][line].y);
                                ctx.stroke();
                                ctx.beginPath();
                                ctx.moveTo(data.drawings[id][line].x, data.drawings[id][line].y);
                            }
                            
                        }
                    }
                }
            });
    </script>
</body>
</html>
